html {
  margin: 10px;
}

.App {
  text-align: left;
}

.App .ButtonIcon {
  background-color: cyan;
}

.App .ButtonIcon:hover {
  cursor: pointer;
  background-color: red;
}

.App .Updating {
  background-color: saddlebrown;
}